html{
  height: 100%;
}

body {
  background-color: #f0f2ef;
  font-family: 'Roboto', sans-serif;
  color: #605f5e
}
.container-fluid{
  padding: 0;
  margin: 0;
}

h1 {
    font-weight: 300;
}

h4, h2 {
    font-weight: 200;
}
h3{
  padding: .5em;
}

.myPic{
  height: auto;
  width: 98%;
  margin-top: 1em;
  margin-left: .5em;
}
.sidenav{
  position: fixed;
  height: 100%;
  width: auto;
  background-color: #605f5e;
  color: #f0f2ef;
  -webkit-box-shadow: 7px 0px 15px 0px rgba(10,17,40,0.28);
  -moz-box-shadow: 7px 0px 15px 0px rgba(10,17,40,0.28);
  box-shadow: 7px 0px 15px 0px rgba(10,17,40,0.28);
  overflow-y: scroll;
  z-index: 1;
}
.top-nav{
  position: relative;
  background-color: #605f5e;
  color: #f0f2ef;
  z-index: 1;
  height: auto;
  width: 100%;
}
.top-links{
  position: relative;
  display: block;
  background-color: #605f5e;
  border: none;
  color: #f0f2ef;
  transition: background-color .4s ease;
  margin: 0em;
  padding: 0em;
  margin-left: 4px;
  width: auto;
  height: 35%;
}
.top-links:hover {
  cursor: pointer;
  background-color: #839791;
  text-decoration: none;
  border-bottom: 1px solid #839791;
  padding: 0;
  margin-right: 15px;
}
.top-links:focus {
  background-color: #839791;
  outline:0;
}

.top-nav-svg{
  width: 35%;
  height: 35%;
  float: left;
  fill: #f0f2ef;
  position: relative;;
  margin: 0px;
  padding: 0px;
  margin-left: 4px;

}
.top-nav-svg:hover {
  cursor: pointer;
  background-color: #839791;
  border-bottom: 1px solid #839791;
  padding: 0;
  margin-right: 15px;
}

.navigation {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}


.links {
  position: relative;
  background-color: #605f5e;
  height: 8vh;
  width: 100%;
  border: none;
  /*border-bottom: 1px solid #839791;*/
  display: block;
  padding: 10px 0;
  color: #f0f2ef;
  transition: background-color .4s ease;
}

a:hover {
  text-decoration: none;
}
.projectLinks{
  margin: 12px 0 0 10px;
  float: left;
}
.links:hover {
  cursor: pointer;
  background-color: #839791;
  text-decoration: none;
  border-bottom: 1px solid #839791;
}

.links:focus {
  background-color: #839791;
  outline:0;
}

.content {
  padding: 50px;
}

.about-me {
  margin-bottom: 50px;
}
.projectPic{
  height:15em;
  width: 15em;
  margin-bottom: 5vw;
}
.projectDiscription{
  word-wrap: break-word;

}
.nav-svg{
  width: 35%;
  height: auto;
  float: left;
  fill: #f0f2ef;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

}

.icon-row{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  width: 135px;
}

.nav-svg-box {
  /*border-bottom: 1px solid #839791;*/
  height: 5em;
  transition: background-color .4s ease;
  position: relative;
}

.nav-svg-box:hover {
  background-color: #839791;
}

.bordered{
  /*border-right: 1px solid #839791;
  border-left: 1px solid #839791;*/
}

.project-header {
  display: inline;
  float: left;
  margin: 10px 0;
}
.resume-svg{
  width: 15px;
  margin-right: 5px;
  fill: #605f5e;
}

.resume h1, .resume h3 {
  margin-top: 0em;
  margin-bottom: 0em;
}
.resume ul{
  list-style: none;
  padding: 0;
}
.project-row{
  margin-top: 15px;
}
.brakerbar{
  background-color: #839791;
  color: #f0f2ef;
  margin-top: 1em;
  margin-bottom: 1em;
}
.project-svg{
  fill: #f0f2ef;
  height: 2em;
  width: auto;
}
.lan-img-box{
  padding: 2em;
  margin-top: 3em;
  margin-bottom: 3em;
  height: 1vh;
  width: auto;
}
