
<div class="about-me">
  <div class="row brakerbar">
    <div class="col-xs-12">
      <h2>About Me</h2>

    </div>

  </div>

  <p>
    A full stack developer who enjoys many different technical hobbies.
  </p>
  <p>
    As a mechanic and computer repairmen, I enjoyed breaking things down and figuring out how they worked (and of course rebuilding them). I bring the same curiosity and fascination to how things work to my newest passion, programming.
  </p>

  <p>
    I am fluent in JavaScript, Node, Express, Postgres, HTML, CSS and Angular (1.x).
  </p>

  <p>
     I have worked with Unity, C# and Java. I have found, in my experience fantastic way to learn is by teaching, in that spirit, I have collaborated with colleagues from Galvanize to create a series of walkthroughs on everything from CSS to building a decoupled app in Angular.
   </p>

</div>
