<div class="bottom-nav visible-xs">
  <div class="col-xs-4 text-center bottom-nav-container">
    <div class="row">
    <a ui-sref="home">
  <button  class='top-links'type="button"><h4>About</h4></button>
  </a>
</div>

  </div>
  <div class="col-xs-4 text-center bottom-nav-container">
    <div class="row">

    <a ui-sref="projects">
  <button class="top-links" type="button"><h4>Projects</h4></button>
  </a>
</div>
  </div>
  <div class="col-xs-4 text-center bottom-nav-container">
    <div class="row">

    <a ui-sref="resmue">
     <button class="top-links" type="button"><h4>Resume</h4></button>
     </a>
   </div>
  </div>
</div>
