
<div class="about-me">
  <h2>About Me</h2>
  <hr>
  <p>
    Web Developer in Denver, CO. My current stack is Javascript, Angular, Node, Express, PostgreSQL. Before writing software I worked in computer repair, automotive industry , and  customer service technical support  . Coding, computers and cars is what I do in my free time.
  </p>
</div>

<div class="about-me">
  <h2>Skills</h2>
  <hr>
  <p>
    Web Developer in Denver, CO. My current stack is Javascript, Angular, Node, Express, PostgreSQL. Before writing software I worked in computer repair, automotive industry , and  customer service technical support  . Coding, computers and cars is what I do in my free time.
  </p>
</div>

<div class="col-sm-2">
logo
</div>

<div class="col-sm-2">
logo
</div>

<div class="col-sm-2">
logo 
</div>
