<div class="projects">
  <div class="row">
    <div class="col-xs-8">
        <h2>{{project.title}}</h2>
    </div>
    <div class="col-xs-2">
      <a href="{{project.github}}">gihub</a>
    </div>
    <div class="col-xs-2">
      <a href="{{project.Deployed}}">Deployed</a>
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="col-xs-4">
      <img class="projectPic" src="/img/Screen Shot 2016-08-11 at 5.41.08 PM.png" alt="" />
    </div>
    <div class="col-xs-8">
      <p>
        {{project.discription}}
      </p>
    </div>
  </div>
</div>
