<div class="resume">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <h1>Alex James</h1>
        <h3>Web Developer</h3>
    <div class="row">
      <div class="col-xs-6 col-md-4">
          apjames93@gmail.com
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4">
        github.com/apjames93
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4">
        www.linkedin.com/in/apjames93
      </div>
    </div>
  </div>
</div>


<div class="row">
      <div class="col-xs-7 col-sm-4">
            <h1>Projects</h1>
      </div>

</div>

  <div class="row">
    <div class="col-xs-7 col-sm-4">


      <h5>The Hive — Group project</h5>
      <p>
        App is designed for bee spotting enthusiast, made to show location of bees seen along with type and image of the bee. PostgresQl, node.js, JavaScript, google maps api, Knex.js, passport google oauth.
        <br>
        Github :
        <a href="https://github.com/TheHiveOrg/The-Hive">The Hive github</a>
        <br>
        Deployed :<br>
        <a href="https://the-hive-g25.herokuapp.com/">The Hive deployed</a>
      </p>
    </div>
    <div class="col-xs-7 col-sm-4">

      <h5>Car Spec—  project</h5>
      <p>
        using jQuery and edmunds api app finds motor and transmission specs for cars.
        <br>
        Github :
        <a href="https://github.com/apjames93/carProject">Car spec github</a>
        <br>
        Deployed :<br>
        <a href="https://the-hive-g25.herokuapp.com/">Car spec deployed</a>
      </p>
    </div>
  </div>
    <div class="row">
    <div class="col-xs-7 col-sm-4">
      <h5>Todo-angular — project </h5>
      <p>
        Walkthrough for making a decoupled angular app with a restful api and postgresql database .
        <br>
        Github: <br>
        <a href="  https://github.com/app-walkthrough-example/angular-Decoupled-link-">Todo-angular github</a>
        <br>
        Deployed : <br>
        <a href="https://angular-decoupled-app.firebaseapp.com/">Todo-angular deployed</a>
      </p>
    </div>
    <div class="col-xs-7 col-sm-4">
      <h5>Brick Breaker— project  </h5>
      <p>
        brick breaker made with javaScript and canvas
        <br>
        Github :<br>
        <a href="https://github.com/apjames93/brick-breaker-game">Brick Breaker Github</a>
        <br>
        Deployed:<br>
        <a href="https://brick-breaker-game.firebaseapp.com">Brick Breaker Deployed</a>
      </p>
    </div>
  </div>
</div>





</div>









<!--

<div class="row">
  <div class="col-xs-9">
     <h1>Alex James</h1>
     <h3>Web Developer</h3>
   </div>

  <div class="col-xs-4">.
    <p>
      apjames93@gmail.com
    </p>
    <p>
      github.com/apjames93
    </p>
    <p>
      www.linkedin.com/in/apjames93
    </p>

  </div>
  <div class="col-xs-6">
    .col-xs-6<br>Subsequent columns continue along the new line.
  </div>
  <div class="col-xs-6">
    .col-xs-6<br>Subsequent columns continue along the new line.
  </div>
  <div class="col-xs-6">
    .col-xs-6<br>Subsequent columns continue along the new line.
  </div>

</div> -->
